# Data Structures

## More on Lists

In [5]:
my_list = []

# Add an item to the end of the list
my_list.append(1)
print(my_list)

# Extend the list by appending all the items from the iterable
iterable = [2, 3, 4, 4, 4, "extra", "hello!"]
my_list.extend(iterable)
print(my_list)

# Insert an item at a given position
my_list.insert(2, 2.5)
print(my_list)

# Remove the first item from the list whose value is equal
my_list.remove("extra")
print(my_list)

# Remove the item at a given position and return it. Default last item
print(my_list.pop())
print(my_list)

# Return index of the first item with equal value
print(my_list.index(2.5))

# Return the number of times a value appears in the list
print(my_list.count(4))

# Reverse the elements of the list
my_list.reverse()
print(my_list)

# Sort items of the list
my_list.sort()
print(my_list)

# Return a shallow copy of the list
list_copy = my_list.copy()

# Remove all items from the list
my_list.clear()
print(my_list)
print(list_copy)

[1]
[1, 2, 3, 4, 4, 4, 'extra', 'hello!']
[1, 2, 2.5, 3, 4, 4, 4, 'extra', 'hello!']
[1, 2, 2.5, 3, 4, 4, 4, 'hello!']
hello!
[1, 2, 2.5, 3, 4, 4, 4]
2
3
[4, 4, 4, 3, 2.5, 2, 1]
[1, 2, 2.5, 3, 4, 4, 4]
[]
[1, 2, 2.5, 3, 4, 4, 4]

### Using Lists as Stacks

In [9]:
# Stack, last-in first-out
stack = [1, 2, 3]
print(stack)

stack.append(4)
stack.append(5)
print(stack)

stack.pop()
print(stack)

stack.pop()
stack.pop()
print(stack)

[1, 2, 3]
[1, 2, 3, 4, 5]
[1, 2, 3, 4]
[1, 2]

### Using Lists as Queues

In [11]:
# Queue, first-in first-out
# Lists are not efficient for this purpose

from collections import deque

queue = deque(["Eric", "John", "Michael"])
print(queue)

queue.append("Terry")
queue.append("Graham")
print(queue)

queue.popleft()
print(queue)

queue.popleft()
print(queue)

deque(['Eric', 'John', 'Michael'])
deque(['Eric', 'John', 'Michael', 'Terry', 'Graham'])
deque(['John', 'Michael', 'Terry', 'Graham'])
deque(['Michael', 'Terry', 'Graham'])

### List Comprehensions

In [13]:
squares = [x**2 for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [17]:
print([(x+y, x-y) for x in range(5) for y in range(5) if x != y])

[(1, -1), (2, -2), (3, -3), (4, -4), (1, 1), (3, -1), (4, -2), (5, -3), (2, 2), (3, 1), (5, -1), (6, -2), (3, 3), (4, 2), (5, 1), (7, -1), (4, 4), (5, 3), (6, 2), (7, 1)]

## The del Statement

In [19]:
a = [-1, 1, 333, 333, 1234.5, 66.25]
print(a)

del a[0]
print(a)

del a[2:4]
print(a)

del a[:]
print(a)

[-1, 1, 333, 333, 1234.5, 66.25]
[1, 333, 333, 1234.5, 66.25]
[1, 333, 66.25]
[]

In [22]:
# del can also be used to delete entire variables
del a
print(a)

NameError: name 'a' is not defined

## Tuples and Sequences

In [23]:
# Sequence data types: list, tuple, range
# Tuples are immutable, but may contain mutable objects

t = (2345, [1, 2, 3], "Hello")
print(t)

t[1][2] = 4
print(t)

(2345, [1, 2, 3], 'Hello')
(2345, [1, 2, 4], 'Hello')

In [24]:
# 0 or 1 items in a tuple

empty = ()
print(empty)

singleton = (1,)  # Trailing comma is essential
print(singleton)

()
(1,)

In [28]:
# Sequence unpacking
t = (1, 2, 3)

x, y, z = t
print(x, y, z)

1 2 3

## Sets

In [29]:
# Unordered collection with no duplicate elements
# Support math ops like union, intersection, difference and symmetric difference

basket = {"apple", "orange", "apple", "pear", "orange", "banana"}
print(basket)

print("orange" in basket)
print("pomello" in basket)

{'pear', 'apple', 'banana', 'orange'}
True
False

In [30]:
a = set("abracadabra")
b = set("alacazam")

print(a)  # Unique letters in a
print(a - b)  # Letters in a but not in b
print(a | b)  # Letters in a or b or both
print(a & b)  # Letters in both a and b
print(a ^ b)  # Letters in a or b but not both

{'c', 'b', 'a', 'r', 'd'}
{'r', 'd', 'b'}
{'z', 'c', 'm', 'b', 'a', 'r', 'l', 'd'}
{'a', 'c'}
{'r', 'z', 'l', 'm', 'd', 'b'}

In [32]:
# Set comprehensions are also supported
a = {x for x in "abracadabra" if x not in "abc"}
print(a)

{'r', 'd'}

## Dictionaries

In [34]:
# Dictionaries are indexed by keys instead of a range of numbers
# A set of key:value pairs, the keys are unique (within one dict)

my_dict = {"jack": 4900, "sape": 3459}
my_dict["guido"] = 4567
print(my_dict["jack"])
print(my_dict)

del my_dict["sape"]
my_dict["irv"] = 3545
print(my_dict)

print(list(my_dict))
print(sorted(my_dict))

print("guido" in my_dict)

4900
{'jack': 4900, 'sape': 3459, 'guido': 4567}
{'jack': 4900, 'guido': 4567, 'irv': 3545}
['jack', 'guido', 'irv']
['guido', 'irv', 'jack']
True

In [35]:
# The dict() constructor builds dictionaries from sequences of key-value pairs
dict([("Hey", 2345), ("you", 1234), ("yeah", 4748)])

{'Hey': 2345, 'you': 1234, 'yeah': 4748}

In [36]:
# Dict comprehensions
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [37]:
# When the key are simple strings, it's easier to use arguments
dict(Hey=2345, you=1234, yeah=4748)

{'Hey': 2345, 'you': 1234, 'yeah': 4748}

## Looping Techniques

In [38]:
# Retrieve the key and value at the same time using .items() method
knights = {"gallahad": "the pure", "robin": "the brave"}
for k, v in knights.items():
    print(k, v)

gallahad the pure
robin the brave

In [39]:
# Retrieve the position index and corresponding value in a sequence with .enumerate()
for i, v in enumerate(["hi", "ha", "ho"]):
    print(i, v)

0 hi
1 ha
2 ho

In [40]:
# We can loop over multiple sequences at the same time with .zip()
questions = ["name", "quest", "favorite color"]
answers = ["lancelot", "the holy grail", "blue"]

for q, a in zip(questions, answers):
    print("What is your {0}? It is {1}.".format(q, a))

What is your name? It is lancelot.
What is your quest? It is the holy grail.
What is your favorite color? It is blue.

In [46]:
# Use the reversed() function to loop over a sequence in reverse
for i in reversed(range(1,10)):
    print(i, end=" ")
print("BOOM!")

9 8 7 6 5 4 3 2 1 BOOM!

In [45]:
# Use the sorted() function to loop over a sequence in sorted order
numbers = [1, 10, 33, 2, 4, 5, 2, 94, 12]
for number in sorted(numbers):
    print(number, end=" ")

1 2 2 4 5 10 12 33 94